body {
  padding-top: 75px;
  background-image: url('/images/planet-perl.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  background-color: #c9bfb3;
}
.panel {
  opacity: 75%;
}
iframe, img {
  max-width: 100%;
}
