body {
  padding-top: 75px;
  background-image: url('/images/planet-perl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: top left;
  background-color: #b6c0cb;
}
.card {
  margin-bottom: 1rem;
}

.card-body {
  opacity: 75%;
}
.card-header h2 {
  font-size: 1.5rem;
}
iframe, img {
  max-width: 100%;
}

.card-body * {
  font-size: 1rem;
}

.card-body blockquote {
  color: #666;
  border-left: solid 5px #666;
  padding-left: 5px;
}

.card-nav {
  float: right;
}

.left * {
  font-size: 1rem;
  font-weight: normal;
}
