name: Generate web page

on:
  push:
    paths:
      - 'perlanetrc'
      - 'index.tt'
      - 'docs/*'
      - 'docs/css/*'
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: davorg/perl-perlanet:latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Create pages
      run: |
        mkdir -p docs
        perlanet > perlanet.log 2>&1

    - name: Make JSON file
      run: |
        bin/link-json docs/atom.xml > docs/links.json

    - name: Archive perlanet logs
      uses: actions/upload-artifact@v6
      with:
        name: perlanet.log
        path: ./perlanet.log
        retention-days: 3

    - name: Update pages artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: docs/

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
